




#guy3{


}

.guy3class{
-webkit-animation: marm2 6s forwards;
-moz-animation: marm2 6s forwards;
animation: marm2 6s forwards;

}

#marm{
position:absolute;
left:42%;
top:-900px;

z-index:2;

}

.marmclass{
-webkit-animation: marm 2s ease-in forwards;
-moz-animation: marm 2s ease-in forwards;
animation: marm 2s ease-in forwards;
}

#guy{
position:absolute;
left:45%;
top:300px;

z-index:1;

}

.guyclass{

	-webkit-animation: rock .2s ease-in-out infinite;
	-moz-animation: rock .2s ease-in-out infinite;
	animation: rock .2s ease-in-out infinite;}

#guy2{
position:absolute;
left:35%;
top:300px;


z-index:1;
}

.guy2class{
-webkit-animation: guymove2 3s forwards;
-moz-animation: guymove2 3s forwards;
animation: guymove2 3s forwards;
}

#guy3{
position:absolute;
left:61%;
top:360px;



z-index:4;
}

.guy3class{
-webkit-animation: guymove3 6s forwards;
-moz-animation: guymove3 6s forwards;
animation: guymove3 6s forwards;
}
@-webkit-keyframes marm{
   from {
        top:-900px;

    }
    to {
        top: 351px;

	

    }
}

@-moz-keyframes marm{
   from {
        top:-900px;

    }
    to {
        top: 351px;

	

    }
}

@keyframes marm{
   from {
        top:-900px;

    }
    to {
        top: 351px;

	

    }
}




















@-webkit-keyframes rock {
	50%  { -webkit-transform: rotate(-5deg) translateY(-10px); 

	}
}
@keyframes rock {
	50%  { transform: rotate(-5deg) translateY(-10px); 

	}
}
@-moz-keyframes rock {
	50%  { -moz-transform: rotate(-5deg) translateY(-10px); 

	}
}




@-webkit-keyframes guymove2 {
	100%  { -webkit-transform:   TranslateX(-300px); 

	}
}
@keyframes guymove2 {
	100%  { transform:   TranslateX(-300px); 

	}
}
@-moz-keyframes guymove2 {
	100%  { -moz-transform:  TranslateX(-300px); 

	}
}




@-webkit-keyframes guymove3 {
	100%  { -webkit-transform: scale(3.5,3.5) translateY(100px) TranslateX(100px); 

	}
}
@keyframes guymove3 {
	100%  { transform: scale(3.5,3.5) translateY(100px) TranslateX(100px); 

	}
}
@-moz-keyframes guymove3 {
	100%  { -moz-transform: scale(3.5,3.5) translateY(100px) TranslateX(100px); 

	}
}

