body{
background:black;
}
#startanim{
position:relative;
top:50px;
left:2%;
width:140px;

background-color:rgb(120,120,220);
padding:20px;
font-size:20px;
}

#return{
position:relative;
top:100px;
left:2%;
width:140px;

background-color:rgb(120,120,220);
padding:20px;
font-size:20px;
}


#bigdiv{
width:1000px;
height:600px;



border:10px solid blue;

background-image:url("../images/city-street.jpg");
background-repeat: no-repeat;
background-size:cover;
margin:auto;
position:absolute;
top:0;
left:0;
bottom:0;
right:0;

}